<template>
  <section class="flex flex-col md:flex-row p-3 bg-white rounded shadow-sm gap-2">
    <div class="md:flex-1 flex-initial">
      <p v-html-sanitized="question.question" />
    </div>
    <div class="flex-1">
      <div
        v-for="(item, index) in answers"
        :key="item"
        class="cursor-pointer h-12 bg-orange-200 m-1 hover:bg-orange-400 rounded flex items-center px-3"
        :class="{ 'bg-orange-400': index === currentAnswerIndex }"
        @click="onClick(index)"
      >
        {{ item }}
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
import { vHtmlSanitized } from "@quiz/components"
import { computed, ref, watch } from "vue"
import type { TriviaQuestion } from "@/shared/api"

const props = defineProps<{
    question: TriviaQuestion
}>()

const emit = defineEmits<{
    answerClick: [answer: string]
}>()

const answers = computed(() => {
    return [props.question.correct_answer, ...props.question.incorrect_answers]
})

const currentAnswerIndex = ref<number>()

function onClick(index: number) {
    const answer = answers.value[index]
    emit("answerClick", answer)
    if (index === currentAnswerIndex.value) {
        return
    }
    currentAnswerIndex.value = index
}

watch(
    () => props.question,
    () => {
        currentAnswerIndex.value = undefined
    }
)
</script>