<script setup lang="ts">
import { computed } from "vue"

const props = defineProps<{
    answers: Array<string>
    correctAnswers: Array<string>
}>()

const correctAnswerCount = computed(() => {
    return props.answers.reduce((score, answer, index) => {
        const correctAnswerAtIndex = props.correctAnswers[index]
        if (answer === correctAnswerAtIndex) {
            score++
        }
        return score
    }, 0)
})
const questionCount = computed(() => props.correctAnswers.length)

</script>

<template>
  <div>
    <h2>Congrats</h2>
    <p>Your score: {{ correctAnswerCount }}/{{ questionCount }}</p>
  </div>
</template>