<script setup lang="ts">
import { Button } from "@quiz/components"
import { onBeforeMount } from "vue"
import { useQuizStore } from "../model/store"
import QuizQuestion from "./QuizQuestion.vue"
import QuizSummary from "./QuizSummary.vue"

const props = defineProps<{
    categoryId: number
}>()

const quizStore = useQuizStore()

onBeforeMount(async () => {
    await quizStore.loadQuiz(props.categoryId)
})

function onAnswerClick(answer: string) {
    quizStore.setAnswerToCurrentQuestion(answer)
}

function onNextClick() {
    if (quizStore.isLastQuestion) {
        quizStore.completeQuiz()
    }
    quizStore.nextQuiestion()
}
</script>

<template>
  <div v-if="!quizStore.currentQuestion">
    Loading...
  </div>
  <div
    v-else
    class="md:p-10 p-1 h-screen-s flex flex-col"
  >
    <template v-if="quizStore.isCompleted">
      <QuizSummary
        :answers="quizStore.answers"
        :correct-answers="quizStore.correctAnswers"
      />
    </template>
    <template v-else>
      <QuizQuestion
        :question="quizStore.currentQuestion"
        class="flex-grow"
        @answer-click="onAnswerClick"
      />
      <div class="px-2 mt-2 self-end flex-none">
        <Button 
          class="bg-cyan-400 hover:bg-cyan-600 h-10 rounded disabled:bg-gray-400 disabled:cursor-not-allowed px-3"
          :disabled="!quizStore.hasCurrentQuestionAnswer"
          @click="onNextClick"
        >
          <template v-if="quizStore.isLastQuestion">
            Complete quiz
          </template>
          <template v-else>
            Next question
          </template>
        </Button>
      </div>
    </template>
  </div>
</template>
